
h6
{
  margin-bottom: 0px;
}

h5
{
  font-size:1.30rem
}

a:not([href]):not([tabindex]) {
  color: #fff;
  cursor: pointer;
}

a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
  color: #20b9e5;
}

.pull-left{float:left !important;}
.pull-right{float:right !important;}

span.required {
  color: #ff0000;
}

.my_button_column
{
  height: 100%
}

.my_button_title
{
  margin:0.75rem  0px  0px  0px;text-transform: capitalize; 
}

.my_button_sub_title
{
  margin:0rem  0px  0.75rem  0px; color: #b1b1b1 
}

.round_button
{
  background-color: #20b9e5;
  border-radius: 16vw;
  padding: 10px 16px;
  color: #fff;
  text-align:center;
  font-weight:500;
  display: inline-block;
  vertical-align: middle;
  border: 0px;
}

.round_button_icon
{
  font-size: 1rem; position: relative;top: -2px;left:7px
}

.fixed-width-btn {
  width: 120px;
}

.small-fixed-width-btn {
  width: 95px;
} 

.round_button:hover {
  text-decoration: none;
}

.div_close_icon
{
  border-radius: 50%;
  text-align: center;
  padding: 1px;
  width: 30px;
  height: 30px;
  color: #1fbae6;
  float: right;
  font-size: 16px;
  border: 2px solid;
  margin-top: 3px;
}

.card-box
{
  background-color: white;
  border-radius: 3px;
  border: 1px solid #ccc;
  min-height: 66px;
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
  padding: 0.5rem!important;
  font-size: 15px;
}

.card-box h5
{
  margin-bottom: .1rem;
}

.tab1{
	display: block;
	transition: 0.9s;
}
.tab2{
	display: none;
	transition: 0.9s;
}
.tab3{
	display: none;
	transition: 0.9s;
}
.tab4{
	display: none;
	transition: 0.9s;
}
.tab5{
	display: none;
	transition: 0.9s;

}
.wizard-btn {
    border-radius: 2px;
    background-color: #41c166;
    float: right;
    color: #fff;
    padding: 6px 12px;
    border: none;
}
.wizard-btn.prev{
	background-color: grey;
}
.card.orderlist{
	padding: 5px;
}

.finaldate-list{
	/* height: 300px;
	overflow-y: scroll; */
}
.fade{
	opacity: 0.4;
}
.inside-check{
	margin-top: 17px !important;
}
.item-thumbnail-left{
	position: relative;
}
.finaldate .checkmark.unikk {
    position: absolute;
    top: 0;
    left: 53px;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

.summary-tabs .row
{
  margin-bottom:0px
}
tr {
  border-bottom: 0px;
}
.today-div>.col{
	border-color: #354C8C !important;
}
.tomorrow-div>.col{
	border-color: #444 !important;
}

#div_slots>.row.active .card-box {
  background: #E1F5FE;
  /* color: #fff; */
}




.myorder span.checkmark {
  vertical-align: middle;
  margin-left: 10px;
}


.myorder .steps-indicator {
  display:none;
  height: auto;
  list-style: none;
  width: 100%;
  padding: 0;
}

.myorder .steps-indicator:before {
  position: absolute;
  height: 2px;
  margin-top: 25px;
}

.myorder .steps-indicator li a:before {
  position: absolute;
  top: -7px;
  left: calc(50% - 7px);
  border-radius: 100%;
  transition: .25s;
  width: 0;
  height: 0;
  background: none;
}

.myorder .steps-indicator li.done a {
  background-color: #0c3f5a;
}

.myorder .steps-indicator li a {
  width: 30px;
  height: 30px;
  display: inline-block;
  padding: 8px;
  border-radius: 50%;
  color: #fff;
  background: #20b9e5;
}

#requestPickupModal .alert {
  font-size: 15px;
  padding: 10px 15px;
}

.other-content 
{
  width: 100%;
  min-height: 250px;
}

.loader {
  position: absolute;
  left: calc(50% - 40px);
  top: 50%;
  z-index: 1;
  width: 80px;
  height: 80px;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  -webkit-animation: spin .8s linear infinite;
  animation: spin .8s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.text-upper {
  text-transform: uppercase;
}

.modal {
  background: rgba(68, 100, 117, 1);
}

.modal .modal-header {
  background: #0c3f5a;
  color: #fff;
}
.modal .modal-header .close {
  outline: none;
  border-radius: 50%;
  text-align: center;
  padding: 1px;
  width: 30px;
  height: 30px;
  color: #1fbae6;
  float: right;
  font-size: 22px;
  border: 2px solid;
  margin-top: 3px;
  text-shadow: none;
  opacity: 1;
  margin-right: 5px;
}

.modal .modal-content {
  border: none;
}

.modal.vertical .modal-dialog {
  width: 400px;
}

.modal .modal-body, .modal .modal-footer  {
  border: 1px solid rgba(0,0,0,.2);
  border-top:none;
}

.modal.vertical {
  text-align: center;
  padding: 0!important;
}

.modal.vertical:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal.vertical .modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}


.modal.vertical .modal-body .cards-container {
  max-height: 400px;
  overflow:hidden;
  overflow-y:auto;
}

.error {
  color: #F44336;
  display: block;
  text-align: left;
}

#requestPickupModal .myorder h2 {
  display: none;
}

#paymentIframe {
  width: 100%;
  border:none;
}

.lighter-text
{
  color: #797979;
}

/* CREATE ORDER ENDS HERE */

