
h4
{
  margin-bottom: 1rem;
  line-height: 30px;
  font-weight:bold;

}

h6
{
  margin-bottom: 0px;
}

h5
{
  font-size:1.25rem
}

h5.larger
{
  font-size: 1.85rem
}

a:not([href]):not([tabindex]) {
  color: #fff;
  cursor: pointer;
}

a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
  color: #20b9e5;
}

.pull-left{float:left !important;}
.pull-right{float:right !important;}

span.required {
  color: #ff0000;
}

.my_button_column
{
  height: 100%
}

.my_button_title
{
  margin:0.75rem  0px  0px  0px;text-transform: capitalize; 
}

.my_button_sub_title
{
  margin:0rem  0px  0.75rem  0px; color: #b1b1b1 
}

.round_button
{
  border-radius: 16vw;
  padding: 9px 16px;
  color: #20b9e5;
  text-align:center;
  font-weight:500;
  display: inline-block;
  vertical-align: middle;
  border: 0px;
  border: 2px solid #20b9e5;
  font-weight: bold;
}

.round_button.action-btn {
  background-color: #20b9e5;
  color: #fff;
  font-weight: 500;

}

.round_button_icon
{
  font-size: 1rem; position: relative;top: -2px;left:7px
}

.fixed-width-btn {
  min-width: 100px;
}

.small-fixed-width-btn {
  min-width: 85px;
  font-size: 14px;
  padding: 6px;
} 

.round_button:hover {
  text-decoration: none;
}

.div_close_icon
{
  border-radius: 50%;
  text-align: center;
  padding: 1px;
  width: 30px;
  height: 30px;
  color: #1fbae6;
  float: right;
  font-size: 16px;
  border: 2px solid;
  margin-top: 3px;
}

.card-box
{
  background-color: white;
  border-radius: 3px;
  /* border: 1px solid #ccc; */
  min-height: 66px;
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
  padding: 0.5rem!important;
  font-size: 15px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
}

.card-box h5
{
  margin-bottom: .1rem;
}

.tab1{
	display: block;
	transition: 0.9s;
}
.tab2{
	display: none;
	transition: 0.9s;
}
.tab3{
	display: none;
	transition: 0.9s;
}
.tab4{
	display: none;
	transition: 0.9s;
}
.tab5{
	display: none;
	transition: 0.9s;

}

.form-control:focus {
  border-color: #ced4da !important;
  box-shadow: none !important;
}

.form-control.error {
  background: #ffd8d5 !important;
  border-color: #F44336 !important;
}

#requestPickupModal .title h4
{
  color: #ff00c6 ;
  line-height: 30px;
  font-weight:bold;
}

#requestPickupModal .form-control
{
  background-color: #dedede;
  font-size: 1.5rem;
  height: 50px;
}


#requestPickupModal .active .card-box {
  background: #E1F5FE;
  /* color: #fff; */
}

#requestPickupModal .alert {
  font-size: 15px;
  padding: 10px 15px;
}


.error {
  color: #F44336;
  display: block;
  text-align: left;
  font-size: 18px;
}

#requestPickupModal .myorder h2 {
  display: none;
}

#paymentIframe {
  width: 100%;
  border:none;
}

#requestPickupModal .summary-tabs h4 {
  background-color: #E1F5FE;
  padding: 10px;
}

#requestPickupModal .round_button.action-btn {
  margin: 20px 10px 10px;
}

.lighter-text
{
  color: #797979;
  text-transform: capitalize;
}

.wizard-btn {
    border-radius: 2px;
    background-color: #41c166;
    float: right;
    color: #fff;
    padding: 6px 12px;
    border: none;
}
.wizard-btn.prev{
	background-color: grey;
}
.card.orderlist{
	padding: 5px;
}

.finaldate-list{
	/* height: 300px;
	overflow-y: scroll; */
}
.fade{
	opacity: 0.4;
}
.inside-check{
	margin-top: 17px !important;
}
.item-thumbnail-left{
	position: relative;
}
.finaldate .checkmark.unikk {
    position: absolute;
    top: 0;
    left: 53px;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

.summary-tabs .row
{
  margin-bottom:0px
}
tr {
  border-bottom: 0px;
}
.today-div>.col{
	border-color: #354C8C !important;
}
.tomorrow-div>.col{
	border-color: #444 !important;
}



.myorder span.checkmark {
  vertical-align: middle;
  margin-left: 10px;
}


.myorder .steps-indicator {
  display:none;
  height: auto;
  list-style: none;
  width: 100%;
  padding: 0;
}

.myorder .steps-indicator:before {
  position: absolute;
  height: 2px;
  margin-top: 25px;
}

.myorder .steps-indicator li a:before {
  position: absolute;
  top: -7px;
  left: calc(50% - 7px);
  border-radius: 100%;
  transition: .25s;
  width: 0;
  height: 0;
  background: none;
}

.myorder .steps-indicator li.done a {
  background-color: #0c3f5a;
}

.myorder .steps-indicator li a {
  width: 30px;
  height: 30px;
  display: inline-block;
  padding: 8px;
  border-radius: 50%;
  color: #fff;
  background: #20b9e5;
}

.other-content 
{
  width: 100%;
  min-height: 300px;
  display: block;
}
.loader-container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  background: rgba(255, 255, 255, 0.9);
  left: 0;
}

.loader {
  position: absolute;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
  z-index: 1;
  width: 60px;
  height: 60px;
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  -webkit-animation: spin .8s linear infinite;
  animation: spin .8s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.text-upper {
  text-transform: uppercase;
}

.text-captalize {
  text-transform: capitalize;
}

.large-check {
  position: absolute;
  right: 15px;
  font-size: 30px;
}

.modal {
  background: rgba(68, 100, 117, 1);
  padding-right: 0 !important;
}

.modal .modal-header {
  background: #0c3f5a;
  color: #fff;
}
.modal .close {
  outline: none;
  border-radius: 50%;
  text-align: center;
  padding: 1px;
  width: 30px;
  height: 30px;
  color: #1fbae6;
  float: right;
  font-size: 22px;
  border: 2px solid;
  margin-right: 5px;
  text-shadow: none;
}


.modal .modal-content {
  border: none;
}

.modal.vertical .modal-dialog {
  width: 400px;
}

.modal .modal-body, .modal .modal-footer  {
  border: 1px solid rgba(0,0,0,.2);
  border-top:none;
}

.modal.vertical {
  text-align: center;
  padding: 0!important;
}

.modal.vertical:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal.vertical .modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: top;
}

.modal-header
{
  /* display:none */
}
.modal.vertical .modal-body .cards-container {
  max-height: 400px;
  overflow:hidden;
  overflow-y:auto;
}
.modal-copyright, .modal-copyright a {
  color: #fff;
  font-size: 14px;
}

.modal-copyright a {
  text-decoration: underline;
}

.visiblity-none {
  visibility: hidden;
}

.text-decoration-none, .text-decoration-none:hover {
  text-decoration: none;
}



.fb-btn:hover,
.fb-btn :hover {
  color: white;
  text-decoration: none;
}

/* add appropriate colors to fb, twitter and google buttons */
.fb-btn {
  background-color: #3B5998;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

#loginForm { z-index: 9999; }

.popup-top-logo {
  width: 30%;
}

.search .no-results {
  text-align: center;
}
.search .page-header .page-title {
  color: #0c3d57;
  font-weight: 900;
}
.search .page-header p { 
  color: #0c3d57;
  font-size: 1.2rem;
}

.search .search-form {
  margin-bottom: 30px;
}

.search .search-form label {
  width: 60%;
  display:inline-block;
}

.search .search-form .screen-reader-text {
  display: none;
}
.search .search-form .search-field{
  border: 1px solid #ccc;
  display: block;
  border-radius: 50px;
  padding: 10px 20px;
  width: 60%;
  outline: none;
  display: block;
  margin: 0 auto;
}

.search .search-form .search-submit{
  display: block;
  background: #20b9e5;
  margin: 0 auto;
  border: none;
  color: #fff;
  padding: 10px 30px;
  font-size: 18px;
  border-radius: 25px;
  /* min-width: 310px; */
}

.search article .entry-header .entry-title a {
  color: #20b9e5 ;
}

.price-logo .category {
  position: absolute;
  top: -28%;
  left: 40%;
  margin: 0;
}

.customer-name-link {
  text-transform: capitalize;
}

button:focus {
  outline: none !important;;
}
  
/* CREATE ORDER ENDS HERE */
@media only screen and (max-width: 992px) {
  .price-logo .category {
    position: absolute;
    top: -48%;
    left: 34%;
    margin: 0;
  }

  .modal .price-heading h3 {
    font-size: 20px;
  }

  .modal .price-text p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 576px) {

  .price-logo .category {
    position: absolute;
    top: -30%;
    left: 45%;
    margin: 0;
}

  .fixed-width-btn {
      min-width: 90px;
  }

  .small-fixed-width-btn {
    min-width: 70px;
  }

  .round_button {
    border-radius: 16vw;
    padding: 7px 14px;
    font-size: 14px;
  }
  #requestPickupModal .title h4 {
    font-size: 1.3rem;
    font-weight: 600;
  }

  #requestPickupModal .card-box h5 {
    font-size: 1.1rem;
  }

  #requestPickupModal #div_slots .card-box h6 {
    margin-top:15px;
  }

  #requestPickupModal #div_slots .title h5 {
    margin-top:10px;
  }

  #requestPickupModal .summary-tabs {
    font-size: 1rem;
  }
  #requestPickupModal .summary-tabs h4 {
    background-color: #E1F5FE;
    padding: 6px;
    font-size: 1.2rem;
  }

  
  #requestPickupModal .summary-tabs .round_button.action-btn {
    font-size: 13px;
    margin: 0;
  }
  .popup-top-logo {
    width: 40%;
  }

 
  
}


@media only screen and (max-width: 380px) {
  .price-logo .category {
    position: absolute;
    top: -30%;
    left: 42%;
    margin: 0;
  }
}